<launch>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find exp4_sim)/config/move_base_costmap2d_param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find exp4_sim)/config/move_base_costmap2d_param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find exp4_sim)/config/move_base_costmap2d_param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find exp4_sim)/config/move_base_costmap2d_param/global_costmap_params.yaml" command="load" />
  </node>
</launch>
